


.header-logo {
    width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}

.header-logo img {
    width: 100%;
}

.highlight {
    background: yellowgreen;
     -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.5s infinite ease-in-out;
    /* Opera */
}

@keyframes blink {
    0% {
           background-color: rgba(87, 255, 9, 1)
    }
    50% {
           background-color: rgba(87, 255, 9, 0.5)
    }
    100% {
           background-color: rgba(87, 255, 9, 1)
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: rgba(87, 255, 9, 1)
 }
 50% {
        background-color: rgba(87, 255, 9, 0.5)
 }
 100% {
        background-color: rgba(87, 255, 9, 1)
 }
}